/.idea
out*.gif
out*.png
*.iml
/out.csv
/generateGif
/mutateAndSelect
/watchMutateAndSelect
/draw1
/generateGifDna4
/draw2
/fromRndStr
/genFlag
/generateGifDna3
/greensquare
/mutateFromRndStr
/genFlagSpace
/generateGifDna5
